<!DOCTYPE html>
<html>

<head>
    <title>Award Private promo code to user</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css"> -->
    <!-- Latest compiled and minified CSS -->
    <!-- link to bootststrap 4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container pt-4 d-flex justify-content-center">
        <div class="p-8 mt-8 row col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="text-center panel-heading">
                    <h1>Reward User</h1>
                </div>
                <div class="panel-body">
                    <form action="connect.php" method="post">
                        <div class="col-auto mb-2">

                            <div class="mb-2">

                                <input type="text" class="form-control" placeholder="Promo Code">
                            </div>
                        </div>
                        <div class="col-auto mb-2">

                            <div class="mb-2">

                                <input type="text" class="form-control" placeholder="UserName">
                            </div>
                        </div>


                        <div class="col-auto mb-2">
                            <button type="submit" class="btn btn-primary">Reward USer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>